---
import Layout from "../components/Layout.astro";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/Logo J2D.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
			  const init = document.getElementsByClassName("init");
			  if (init) {
				for (let i = 0; i < init.length; i++) {
					init[i].classList.add("opacity-100");
				}
			  }
			});
		</script>
	</head>
	<body>
		<Layout />
	</body>
</html>
