---
---

<div class="init relative flex flex-col rounded-md mb-5 flex w-[90dvw] h-35 pt-5 px-5 mt-7 border-black-900 justify-center opacity-0 transition-opacity ease-in-out shadow-0 transition-shadow shadow-xl shadow-zinc-900/50 duration-2500 " style="background-color: #afafaf; border-color: #afafaf;">
    <span class="flex flex-row ml-5">
      <img src="../../public/Jack.png" alt="Jackyr" class=" flex-col init w-[8dvw] h-[8dvw] rounded-lg opacity-0 transition-opacity duration-2500 delay-1000 ease-in-out">
      <span class="flex flex-col justify-center items-center ml-5">
        <h1 class=" init  flex-col  text-2xl font-bold opacity-0 transition-opacity duration-2500 delay-1000 ease-in-out">Jackyr Antonio Discua</h1>
        <h3 class="init flex-col text-sm opacity-0 transition-opacity duration-2500 delay-1000 ease-in-out">Full Stack Junior Developer</h3>
      </span>
      </span>
    <span class="flex flex-row justify-end absolute right-5 bottom-4">
      <img src="../../public/Logo_J2D.png" alt="J2D" class="flex-col init w-[8dvw] h-[8dvw] rounded-lg opacity-0 transition-opacity duration-2500 delay-1000 ease-in-out grayscale-75">
    </span>
</div>
